#
# X10UV module configuration
#

config X10_UNDERVOLT
	tristate "X10 undervolt"
	help
	  Say Y here if you want to build an undervolt module for X10

	  If unsure, say N.

	  To compile this module, choose M here: the
	  module will be called x10uv.

